@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,200;9..40,300;9..40,400;9..40,500&display=swap');

*{
    font-family: 'DM Sans', sans-serif;
    margin: 0;
    padding: 0;
}

#sign-up-logo{
    position: fixed;
    width: 160px;
    padding: 2rem;
}

main{
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;

    align-items: center;
    text-align: center;
    justify-content: center;
}

main h1{
    color: #192655;
    padding: 20px;
}

#login-form{
    width: 100%;
    max-width: 350px;
    border-top: solid rgba(0,0,0,0.2) 1px;
}

#login-form div{
    width: 100%;
    margin: 30px 0;
    position: relative;
    color: #a0a0a0;
}

#login-form div label{
    position: absolute;
    left: 10px;
    bottom: 15px;
    cursor: text;
    transition: 0.3s;
}

.input{
    font-size: 17px;
    width: 100%;
    padding: 14px 0;
    border: none;
    border: 
    solid rgba(0,0,0,0.2) 1px;
    border-radius: 5px;
    outline: none;
    transition: 0.3s;
    text-align: center;
}

.input:focus,
.input:valid{
    border: solid #5e38e8 1px;
    box-shadow: 
    0px 0px 15px -10px #5e38e8;
}

.input:focus ~ label,
.input:valid ~ label{
    transform: translateY(-30px);
    font-size: 14px;
    font-weight: 500;
    padding: 0 3px;

    background: white;
    color: #5e38e8;
}

#cadastroBtn{
    font-size: 17px;
    width: 100%;
    padding: 14px;
    margin-top: 2rem;
    border: none;
    border-radius: 5px;
    background: #4942e4;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

#cadastroBtn:active{
    transform: scale(0.95);
}

#txt-login{
    font-size: 14px;
    margin-top: 10px;
}

#txt-login a{
    color: #192655;
}